/* CSS Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  height: 100%;
}

/* CSS Utilities */
.container {
  width: 100%;
  padding: 0 5vh;
}

.btn {
  text-decoration: none;
  border: none;
  font-size: 0.9rem;
  padding: 14px 10px;
  text-align: center;
  text-transform: uppercase;
}

.btn-blue {
  background-color: #0078be;
  color: #fff;
  font-weight: bold;
}

.btn-round {
  border-radius: 30px;
}

.btn-long {
  padding: 14px 16px;
}

.break {
  display: block;
}

.gray {
  background-color: #ebe9e9;
}

.shadow {
  box-shadow: 0 4px 8px 0 #eee, 0 4px 8px 0 #eee;
}

.shadow-hover:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* CSS Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  height: 80px;
}

.dropdown-menu {
  display: none;
}

.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.nav-items > li {
  margin-right: 2px;
}

.nav-items > li:last-child {
  margin-right: 0;
  margin-left: 0;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  padding: 14px 14px;
  font-weight: 600;
}
/* CSS Hero */
.hero {
  background-image: url('../images/parallax-7.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-content {
  padding: 18vh 0 10vh 0;
  width: 100%;
}

.hero-heading {
  text-align: center;
  color: #fff;
  font-weight: bolder;
  font-size: 3rem;
}

.hero-slide-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 0;
  margin: 200px 0 0 0;
}

.dot-item {
  padding: 5px;
  border-radius: 50%;
  background-color: #898585;
  margin: 8px;
}
.dot-item:hover {
  background-color: #0078be;
}

.hero-arrow-image {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* CSS Sections */
.section {
  padding: 50px 5px;
  background-color: #fff;
}

.section-header {
  width: 100%;
  margin: 0 auto 2.5rem auto;
}
.header-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2rem;
}
.section-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.section-content > .card:last-child {
  margin-right: 10px;
}

.section-content > .card:first-child {
  margin-left: 10px;
  border: none;
  border-radius: 0;
  align-items: stretch;
  display: flex;
  justify-content: flex-start;
}

.section-footer {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 5px 15px;
}

.section-footer-body {
  height: 6vh;
  margin: 10px 0 0 0;
}

.section-footer-head {
  padding: 10px 0;
  font-size: 1rem;
  font-weight: 900;
  color: #646464;
}

/* CSS Cards */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 15px;
  background-color: #fff;
  margin: 20px 20px 20px 0;
  flex-basis: 0;
  flex-grow: 1;
  border: 1px solid #eee;
  border-radius: 10px;
}

.card-header {
  height: 20%;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.card-title {
  font-size: 1rem;
  font-weight: bolder;
  text-transform: uppercase;
  padding: 14px 0;
}
.card-body {
  width: 100%;
  margin: 10px 0;
}

.card-paragraph {
  text-align: center;
  margin-top: 30px;
  line-height: 1.5;
  color: #646464;
  font-weight: 700;
}

.card-footer {
  margin-bottom: 30px;
}
/* Video Section */
.video {
  background-image: url('../images/parallax-7.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.video-title {
  font-size: 2rem;
  color: #fff;
}

.video-img {
  justify-content: center;
  align-items: center;
  height: 45vh;
}

.video-img img {
  border-radius: 10px;
}

/* CSS Join BDD */
.shadow-hover {
  background-color: #dfdbdb30;
}
.join-head {
  height: auto;
  text-align: left;
}
.card-img img {
  height: 35vh;
  display: flex;
  justify-content: flex-start;
}

.para-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
  line-height: 1.5;
  color: #646464;
  font-weight: 700;
  padding: 0 10px;
}

.para-list-item {
  width: 100%;
  margin-bottom: 12px;
  text-align: center;
}

/* CSS Statistics */
.statistics {
  background-image: url('../images/parallax-light.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.statistics-content {
  margin-top: 30px;
  /* display: flex; */
  flex-direction: row;
  /* flex-wrap: wrap; */
}

.statistics-rows {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  margin: 10px 0 20px 0;
  width: 25%;
  flex-grow: 1;
}

.statistics-rows img,
.statistics-rows p {
  margin-bottom: 20px;
}

.statistics-rows img {
  height: 12vw;
}

.statistics-rows p {
  font-size: 4vh;
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke-width: 2px;
}

.statistics-rows h6 {
  margin-bottom: 18px;
  font-weight: bold;
  font-size: 0.95rem;
  text-transform: uppercase;
  text-align: center;
}

.counter-num-aqua {
  color: #0078be;
  -webkit-text-stroke-color: #0078be;
}

.counter-num-pink {
  color: #e13870;
  -webkit-text-stroke-color: #e13870;
}

.counter-num-blue {
  color: #0078be;
  -webkit-text-stroke-color: #0078be;
}

.counter-num-green {
  color: #00802d;
  -webkit-text-stroke-color: #00802d;
}

.statistics-rows p span {
  font-weight: 200;
  font-size: 5vh;
}

/* CSS Trending */
.trending {
  padding: 0;
}

.image-container {
  margin-bottom: 10px;
}

.image-container img {
  width: 100%;
}

.title {
  padding: 0 14px;
  font-size: 1rem;
  font-weight: bold;
  color: #000;
  margin-top: 20px;
  text-transform: uppercase;
}

.title:hover {
  color: #0078be;
}
.card-header a {
  text-decoration: none;
}

.separator {
  border-bottom: 1px solid #dbdbdb;
}

.details {
  padding: 5px 20px;
  margin: 10px 0;
}

.details > p {
  color: #646464;
  font-weight: bold;
  font-size: 14px;
}

.section-footer-button {
  margin: 0 auto;
  text-align: center;
}

/* CSS Programs */
.programs {
  background-image: url('../images/parallax-7.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: conver;
}

.programs-rows img {
  height: 15vh;
}

.programs-rows {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  flex-wrap: wrap;
}

.programs-rows:first-child {
  flex-direction: column;
  text-align: center;
  width: 40%;
}

.rows-cont {
  width: 33.3%;
}

.programs-header,
.programs-paragraph {
  margin: 10px 0;
  padding: 2vh 1vh;
  color: #fff;
}

.programs-header {
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
}

.programs-paragraph {
  font-size: 1rem;
}

.programs-button {
  margin: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* CSS Comunity Slider*/
.community {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.community-slider {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 180px;
}

.community-header {
  width: 40%;
  margin-left: 12px;
  align-self: flex-start;
  flex: 1 1 180px;
}

.community-header > h3 {
  font-weight: 900;
  font-size: 32px;
  padding: 15px 0 0 18px;
}

.community-slider {
  margin-right: 12px;
}
.slider {
  width: 50%;
  margin-left: 15px;
  border-radius: 15px;
}

.slider > img {
  height: 90px;
  width: 90px;
  margin: 10px 0 0 10px;
}

.slider > h6 {
  font-size: 15px;
  font-weight: bolder;
  text-transform: uppercase;
  padding: 10px 14px;
  margin: 14px 0;
}

/* CSS Footer*/
.footer {
  background-color: #212121;
  padding: 4vw 10vw;
  color: #fff;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.footer-col {
  margin: 0 15px;
}

.footer h6 {
  color: #b6b6b6;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

.footer b {
  font-weight: bolder;
  font-size: 1rem;
  color: #646464;
}

.footer-list {
  margin: 0.5rem 0 1rem 0.85rem;
  list-style: none;
}

.footer-list-item {
  margin-bottom: 0.85rem;
}

.footer-list-item:hover {
  border-bottom: 2px solid #0078be;
}

.footer a {
  text-decoration: none;
  color: #fff;
}

.copy-right a {
  color: #0078be;
}

.footer-social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer-social > li {
  margin-left: 20px;
}

.footer-social > li:hover {
  border-bottom: 2px solid #0078be;
}

.unhover:hover {
  border-bottom: none;
}

.linear-input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.input-control {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #eee;
  padding: 10px 12px;
}

.signup-box {
  margin-bottom: 15px;
}

.footer-tags img {
  height: 8vh;
}

.footer-tags {
  display: flex;
  justify-content: flex-start;
  margin: 10px 0;
}

.footer-tags > a {
  margin-right: 10px;
}

.footer-tags > a:last-child {
  margin-right: 0px;
}

.footer-tags > a:hover {
  border-bottom: 2px solid #0078be;
}
