/* CSS Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  height: 100%;
}

/* CSS Utilities */
.container {
  width: 100%;
  padding: 0 5vh;
}

.btn {
  text-decoration: none;
  border: none;
  font-size: 0.9rem;
  padding: 14px 10px;
  text-align: center;
}

.btn-blue {
  background-color: #0078be;
  color: #fff;
  font-weight: bold;
}

.btn-round {
  border-radius: 30px;
}

.break {
  display: block;
}
/* CSS Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  height: 80px;
}

.dropdown-menu {
  display: none;
}

.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.nav-items > li {
  margin-right: 2px;
}

.nav-items > li:last-child {
  margin-right: 0;
  margin-left: 0;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  padding: 14px 14px;
  font-weight: 600;
}
/* CSS Hero */
.hero {
  background-image: url('../images/slider/slide1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-content {
  padding: 35vh 0 10vh 0;
  width: 100%;
}

.hero-heading {
  text-align: center;
  color: #fff;
  font-weight: bolder;
  font-size: 5vw;
}
